.title {
    font-size: 1.75rem;
    text-align: center;
}

section h2 {
    font-size: 1.25rem;
}

.boxout {
    padding: 10px;
    display: block;
}

.boxin {
    padding: 10px;
    padding-top: 25px;
    border: 2.5px solid black;
    position: relative;
    background-color: #999999;
}

.boxin h2 {
    border: 2.5px solid black;
    position: absolute;
    top: -19px;
    right: -2px;
    padding: 3px;
}

.row .boxout:first-child h2 {
    background-color: #d59898;
}

.row .boxout:nth-child(2) h2 {
    background-color: #c14543;
}

.row .boxout:last-child h2 {
    background-color: #e5d198;
}